<a href="https://colab.research.google.com/github/hariharan20/AI-assistants/blob/main/ai_hr_assistant.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/My Drive/AI_PROJECTS/ai_hr_assistant/ai_hr_assistant.csv')

In [ ]:
data.head()

  Attrition     BusinessTravel  ... OverTime StockOptionLevel
0       Yes      Travel_Rarely  ...      Yes                0
1        No  Travel_Frequently  ...       No                1
2       Yes      Travel_Rarely  ...      Yes                0
3        No  Travel_Frequently  ...      Yes                0
4        No      Travel_Rarely  ...       No                1

[5 rows x 8 columns]

In [ ]:
y = data['Attrition']
x =data
x.drop('Attrition' , axis = 1 , inplace = True)

In [ ]:
y.head()

0    Yes
1     No
2    Yes
3     No
4     No
Name: Attrition, dtype: object

In [ ]:
x.head()

      BusinessTravel              Department  ... OverTime  StockOptionLevel
0      Travel_Rarely                   Sales  ...      Yes                 0
1  Travel_Frequently  Research & Development  ...       No                 1
2      Travel_Rarely  Research & Development  ...      Yes                 0
3  Travel_Frequently  Research & Development  ...      Yes                 0
4      Travel_Rarely  Research & Development  ...       No                 1

[5 rows x 7 columns]

In [ ]:

dum_BusinessTravel = pd.get_dummies(data['BusinessTravel'],prefix ='BusinessTravel') 
  
dum_Department = pd.get_dummies(data['Department'], prefix ='Department') 
  
dum_EducationField = pd.get_dummies(data['EducationField'], prefix ='EducationField')  
  
dum_MaritalStatus = pd.get_dummies(data['MaritalStatus'], prefix ='MaritalStatus') 
  
dum_OverTime = pd.get_dummies(data['OverTime'], prefix ='OverTime', ) 

x = pd.concat([x, dum_BusinessTravel, dum_Department, 
              dum_EducationField,dum_MaritalStatus, dum_OverTime], axis = 1) 


x.drop(['BusinessTravel', 'Department', 'EducationField','MaritalStatus', 'OverTime'], 
       axis = 1, inplace = True)

In [ ]:
x.shape

(1470, 19)

In [ ]:
x.head()

   JobLevel  StockOptionLevel  ...  OverTime_No  OverTime_Yes
0         2                 0  ...            0             1
1         2                 1  ...            1             0
2         1                 0  ...            0             1
3         1                 0  ...            0             1
4         1                 1  ...            1             0

[5 rows x 19 columns]

In [ ]:
from sklearn.model_selection import train_test_split 
  
x_train, x_test, y_train, y_test = train_test_split( 
  
   x, y, test_size = 0.25, random_state = 40)

In [ ]:
from sklearn.model_selection import cross_val_predict, cross_val_score 
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=10,criterion='entropy')
rf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_pred = rf.predict(x_test)

In [ ]:
y_pred

array(['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'Yes', 'Yes',
       'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'No',
       'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'Yes', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'No',
       'No', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'Yes',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No',
       'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes',
       'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes',
       'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No',
       'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'No',
       'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No',
       'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No'],
      dtype=object)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test ,y_pred)

0.842391304347826

In [ ]:
busin = input('How Frequent you travel : ')
depa = input('Which department you work in :')
Edu = input('What is your field of education: ')
job = input('your job level : ')
Mar = input('your marital status : ')
over = input('do you work overtime : ')
stock = input('your stock option level : ')
data = [[busin , depa , Edu , job , Mar , over , stock]]
df = pd.DataFrame(data , columns = ['BusinessTravel' , 'Department' , 'EducationField' , 'JobLevel' , 'MaritalStatus' , 'OverTime', 'StockOptionLevel'])

How Frequent you travel : Travel_Rarely
Which department you work in :Sales
What is your field of education: Medical
your job level : 2
your marital status : Single
do you work overtime : No
your stock option level : 0

In [ ]:
t = pd.read_csv('/content/drive/My Drive/AI_PROJECTS/ai_hr_assistant/ai_hr_assistant.csv')

t.drop('Attrition' , axis = 1 , inplace = True)

In [ ]:
t=t.append(df)

In [ ]:

dum_BusinessTravel = pd.get_dummies(t['BusinessTravel'],prefix ='BusinessTravel') 
  
dum_Department = pd.get_dummies(t['Department'], prefix ='Department') 
  
dum_EducationField = pd.get_dummies(t['EducationField'], prefix ='EducationField')  
  
dum_MaritalStatus = pd.get_dummies(t['MaritalStatus'], prefix ='MaritalStatus') 
  
dum_OverTime = pd.get_dummies(t['OverTime'], prefix ='OverTime') 

t = pd.concat([t, dum_BusinessTravel, dum_Department, 
              dum_EducationField,dum_MaritalStatus, dum_OverTime], axis = 1) 


t.drop(['BusinessTravel', 'Department', 'EducationField','MaritalStatus', 'OverTime'], 
       axis = 1, inplace = True)

In [ ]:
t.shape

(1471, 19)

In [ ]:
t.reset_index(drop = True , inplace = True)
t

     JobLevel StockOptionLevel  ...  OverTime_No  OverTime_Yes
0           2                0  ...            0             1
1           2                1  ...            1             0
2           1                0  ...            0             1
3           1                0  ...            0             1
4           1                1  ...            1             0
...       ...              ...  ...          ...           ...
1466        3                1  ...            1             0
1467        2                1  ...            0             1
1468        2                0  ...            1             0
1469        2                0  ...            1             0
1470        2                0  ...            1             0

[1471 rows x 19 columns]

In [ ]:
d = t[-1:]

In [ ]:
w = rf.predict(d)

In [ ]:
print(w)

['No']