In [16]:
import numpy as mp 
import pandas as pd 
import matplotlib.pyplot as plt

In [17]:
data = pd.read_csv('ai_hr_assistant.csv')

In [18]:
data.head()

,Attrition,BusinessTravel,Department,EducationField,JobLevel,MaritalStatus,OverTime,StockOptionLevel
0,Yes,Travel_Rarely,Sales,Life Sciences,2,Single,Yes,0
1,No,Travel_Frequently,Research & Development,Life Sciences,2,Married,No,1
2,Yes,Travel_Rarely,Research & Development,Other,1,Single,Yes,0
3,No,Travel_Frequently,Research & Development,Life Sciences,1,Married,Yes,0
4,No,Travel_Rarely,Research & Development,Medical,1,Married,No,1

In [19]:
y = data['Attrition']
x =data
x.drop('Attrition' , axis = 1 , inplace = True)

In [22]:
y.head()

0    Yes
1     No
2    Yes
3     No
4     No
Name: Attrition, dtype: object

In [23]:
x.head()

,BusinessTravel,Department,EducationField,JobLevel,MaritalStatus,OverTime,StockOptionLevel
0,Travel_Rarely,Sales,Life Sciences,2,Single,Yes,0
1,Travel_Frequently,Research & Development,Life Sciences,2,Married,No,1
2,Travel_Rarely,Research & Development,Other,1,Single,Yes,0
3,Travel_Frequently,Research & Development,Life Sciences,1,Married,Yes,0
4,Travel_Rarely,Research & Development,Medical,1,Married,No,1

In [25]:
dum_BusinessTravel = pd.get_dummies(data['BusinessTravel'],prefix ='BusinessTravel') 
  
dum_Department = pd.get_dummies(data['Department'], prefix ='Department') 
  
dum_EducationField = pd.get_dummies(data['EducationField'], prefix ='EducationField')  
  
dum_MaritalStatus = pd.get_dummies(data['MaritalStatus'], prefix ='MaritalStatus') 
  
dum_OverTime = pd.get_dummies(data['OverTime'], prefix ='OverTime', drop_first = True)

In [26]:
x = pd.concat([x, dum_BusinessTravel, dum_Department, 
              dum_EducationField,dum_MaritalStatus, dum_OverTime], axis = 1)

In [27]:
x.drop(['BusinessTravel', 'Department', 'EducationField','MaritalStatus', 'OverTime'], 
       axis = 1, inplace = True)

In [28]:
x.shape

(1470, 18)

In [29]:
x.head()

,JobLevel,StockOptionLevel,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,2,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,1
1,2,1,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0
2,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,1
3,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,1
4,1,1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0

In [31]:
from sklearn.model_selection import train_test_split 
  
x_train, x_test, y_train, y_test = train_test_split( 
  
   x, y, test_size = 0.25, random_state = 40)

In [32]:
from sklearn.model_selection import cross_val_predict, cross_val_score 
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix 
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=10,criterion='entropy')
rf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [33]:
y_pred = rf.predict(x_test)

In [34]:
y_pred

array(['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No',
       'No', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes',
       'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No',
       'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes',
       'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No',
       'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes',
       'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No',
       'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes',
       'No', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No',
       'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No',
       'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No',
       'No', 'No', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No',
       'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No'],
      dtype=object)

In [35]:
from sklearn.metrics import accuracy_score

In [36]:
accuracy_score(y_test ,y_pred)

0.8260869565217391